$font-family: 'Roboto', Arial, Helvetica, sans-serif;
$primary-color: #772fb9;
$primary-light-color: #dcdffc;
$primary-font-color: #fff;
$secondary-color: #ffd204;
$secondary-light-color: #fff6cd;
$secondary-font-color: #2f2b3b;
$background-color: #d6f9fa;
$default-margin: 6px;