@use 'variables' as vars;
@use 'search-bar';

body {
    font-family: vars.$font-family;
    color: vars.$primary-font-color;
    margin: 0;
    background-color: vars.$background-color;
}

.header {
    background-color: vars.$primary-color;
    padding: 2px 24px;
    text-align: center;
    margin-bottom: vars.$default-margin;
}

#error-message {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    color: #cc0033;
    font-weight: bold;
    position: fixed;        
    right: 10px;
    bottom: 10px;
    padding: 20px 30px;    
    
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: move-out;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

@keyframes move-out {
    0%   {}    
    100% {opacity: 0.2; right: -100%;}
  }



