@use 'variables' as vars;
@use 'search-bar';
@use 'card';
@use 'loading';
@use 'error-message';

body {
    font-family: vars.$font-family;
    color: vars.$primary-font-color;
    margin: 0;
    background-color: vars.$background-color;
}

.header {
    background-color: vars.$primary-color;
    padding: 2px 24px;
    text-align: center;
    margin-bottom: vars.$default-margin;
}

.container {
    display: flex;    
}

.toolbar {
    max-width: min(33%, 260px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    $cards-margin: 32px;
    margin-top: vars.$default-margin;
    margin-right: $cards-margin;
    margin-left: $cards-margin;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: $cards-margin;    
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .toolbar {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: none;
    }

    .content {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 95%; 
    }
}
